<h1>Capstone Project for Data Analysis</h1>

<h2>Group 2:</h2>

1. 2220401 - ADAM, Mukharil Bachtiar
2. 2210059 - KUBOTA, Natsumi
3. 2210420 - TANG, Wenhao

<h1>Data Acquisition</h1>

Importing data from twitter with TweetID. TweetID was captured from https://github.com/echen102/ukraine-russia.

1. Import some library

In [15]:
from os import listdir
from os.path import isfile, join
import tweepy
import pandas as pd
from pathlib import Path
import re

2. Declare variables for Tweepy

In [2]:
BEARER_TOKEN = "AAAAAAAAAAAAAAAAAAAAADRVaQEAAAAAmrpIV%2FQwyFYFfpG0X6JGda4GFbY%3DfpSXBITrmXGMtFXe4QTuzoLwDsWJtIGyyhQWO94EyrVsrxdLuS"
client = tweepy.Client(bearer_token=BEARER_TOKEN)

3. Read the TweetID from https://github.com/echen102/ukraine-russia. and do requests to Twitter. The data will be contained the TweetID and the Tweet and it will be saved on the CSV files.

In [9]:
onlyfiles = [f for f in listdir("./") if isfile(join("./", f))]

tweet_ids = []

# change the path of file to read other file
with open("./TweetData/2022-10/ukraine_russia-2022-10-01-00.txt") as f:
  ids = f.readlines()
  for id in ids:
    tweet_ids.append(id.strip())
    
len(tweet_ids)

65577

In [10]:
# a method for dividing n TweetIDs in the file into 100 tweetIDs @ 1 Chunk
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
parts = list(chunks(tweet_ids, 100))

In [15]:
tweets_list = []

for i, ids in enumerate(parts):
    # Limit of repetition (the limitation comes from Tweepy)
    # 1. if i <= 299: for 1 to 30000 TweetIDs Request
    # 2. if i > 299 and i <= 598: for 30001 to 60000 TweetIDs Request
    # 3. if i > 598: for 60001 to 90000 TweetIDs Request
    
    if i <= 299:
        temp= []
        tweets = client.get_tweets(ids=ids,)
        temp= []
        for tweet in tweets.data:
            tweet_response = {
                'textID': str(tweet.id),
                'tweet_text': tweet.text,
            }
            temp.append(tweet_response)
            tweets_list = tweets_list + temp

tweets_df = pd.DataFrame(tweets_list)
tweets_df = tweets_df.drop_duplicates(ignore_index=True)

# Change n on str(n) so that the previous CSV file is not be replaced with the new one
# also replace the date on the name of CSV file
tweets_df.to_csv("./csv/" + str(1) + '-2022-10-01-01.csv')

4. The methods will produce several CSV files into one folder called csv. So we combine all of files into one big CSV files.

In [3]:
path = r'./csv/'
files = Path(path).glob('*.csv')

df = pd.concat((pd.read_csv(f, index_col=0, encoding="ISO-8859-1") for f in files), ignore_index=True)

In [8]:
display(df.head())

                textID                                         tweet_text
0  1576180101774905345  RT @TibetUygurClub: ä¸­é²ã®è»äºåãªãç±...
1  1576180102341459968  RT @georgian_legion: Non-negotiable.  ðºð¦...
2  1576180102253383680  @Charion2 @yazzno @Tryzub2022 @sumlenny I wasn...
3  1576180102223695872  ZÅoÅ¼yÅem wniosek o przyjÄcie mnie do MiÄd...
4  1576180102475698176  RT @WarTiger007: ð¨ð¨  ðºð¦å°±å¨ï¼ä¹...

In [10]:
# Delete series with "Unnamed" name
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
display(df.head())
print("Length of data: {}",format(len(df)))

                textID                                         tweet_text
0  1576180101774905345  RT @TibetUygurClub: ä¸­é²ã®è»äºåãªãç±...
1  1576180102341459968  RT @georgian_legion: Non-negotiable.  ðºð¦...
2  1576180102253383680  @Charion2 @yazzno @Tryzub2022 @sumlenny I wasn...
3  1576180102223695872  ZÅoÅ¼yÅem wniosek o przyjÄcie mnie do MiÄd...
4  1576180102475698176  RT @WarTiger007: ð¨ð¨  ðºð¦å°±å¨ï¼ä¹...

Length of data: {} 124813

In [14]:
# output one big csv
df.to_csv("./combined/result.csv")

                textID                                         tweet_text
0  1576180101774905345  RT @TibetUygurClub: ä¸­é²ã®è»äºåãªãç±...
1  1576180102341459968  RT @georgian_legion: Non-negotiable.  ðºð¦...
2  1576180102253383680  @Charion2 @yazzno @Tryzub2022 @sumlenny I wasn...
3  1576180102223695872  ZÅoÅ¼yÅem wniosek o przyjÄcie mnie do MiÄd...
4  1576180102475698176  RT @WarTiger007: ð¨ð¨  ðºð¦å°±å¨ï¼ä¹...

Length of data: {} 124813

# Data Understanding

After getting the data from Twitter about the Ukraine war, we analyze the data to know about the overview of data.